<%= form_with model: @user do|form|%>
<% if @user.errors.any? %>
        <div class="alert alert-danger" role="alert">
            <% @user.errors.full_messages.each do |message|%>
                <div><%= message %></div>
            <%end%>
        </div>
   <% end %>   


<div class="mb-3">
    <%= form.label :name, "Name:", class: 'form-label'%>
    <%= form.text_field :name, class: 'form-control'%>
</div>

<div class="mb-3">
    <%= form.label :Email, "Email:"%>
    <%= form.email_field :email, class: "form-control"%>
</div>

<div class="mb-3">
    <%= form.label :Email, "Password:"%>
    <%= form.password_field :email, class: "form-control"%>
</div>

<div class="mb-3">
    <%= form.label :Password, "Password Confirmation:"%>
    <%= form.email_field :email, class: "form-control"%>
</div>

<div class="mb-3">
    <%= form.submit :Submit, class: "btn btn-primary"%>
</div>
<% end %>